
AI_API_KEY=
AI_BASE_URL=
AI_MODEL=
AI_PROVIDER=
AI_TIMEOUT=
APP_DEBUG=
APP_ENV=
APP_KEY=
APP_NAME=
APP_URL=
AUTOMATIONS_ON_CREATE_URL=
AUTOMATIONS_ON_UPDATE_URL=
DB_CONNECTION=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
DEAL_CREATE_WEBHOOK_URL=
DEAL_UPDATE_WEBHOOK_URL=
DYNAMIC_TRANSLATION_API_KEY=
DYNAMIC_TRANSLATION_API_TIMEOUT=
DYNAMIC_TRANSLATION_API_URL=
FEATURE_CRM_LEAD_LANGUAGE_CORE_FIELD=
FEATURE_CRM_LEAD_QUALIFICATION_TAB=
FEATURE_SALES_BULK_AGENT_PROMOTION=
FEATURE_SALES_PER_AGENT_COMMISSION_OVERRIDE=
FOLLOWUP_WEBHOOK_URL=
KEYCLOAK_BASE_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REALM=
KEYCLOAK_REDIRECT_URI=
LOG_CHANNEL='stack'
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_HOST=
MAIL_MAILER=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_USERNAME=
META_ACCESS_TOKEN=
META_CONVERSIONS_API_VERSION=
META_PIXEL_ID=
MIX_AGENT_INVITATION_API_KEY=
MIX_AGENT_INVITATION_BASE_URL=
MIX_AI_API_KEY=
MIX_FILE_UPLOAD_API_KEY=
MIX_FILE_UPLOAD_BASE_URL=
MIX_GEMINI_API_KEY=
MIX_OL_API_KEY=
MIX_OL_BASE_URL=
MIX_PUSHER_APP_CLUSTER= 
MIX_PUSHER_APP_KEY= 
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_LOGS_ENABLED=
OTEL_SERVICE_NAME=
QUEUE_CONNECTION=
REDIRECT_HTTPS=


OL_WEBHOOK_ENABLED=false
OL_WEBHOOK_ENDPOINT="null"
OL_WEBHOOK_TIMEOUT=10
OL_WEBHOOK_QUEUE=default
OL_WEBHOOK_TRIES=3
OL_WEBHOOK_BACKOFF="60,300,900"
OL_WEBHOOK_API_KEY=""
OL_WEBHOOK_API_KEY_HEADER="X-API-KEY"

NOTIFICATION_SERVICE_DEFAULT_USER_ID=""
NOTIFICATION_SERVICE_BASE_URL=
NOTIFICATION_SERVICE_TIMEOUT=15
NOTIFICATION_SERVICE_INTERNAL_API_KEY=
NOTIFICATION_SERVICE_DEFAULT_USER_ID=
